@{
    ViewData["Title"] = "Home Page";
}

<section id="register-case">
    <h2>Register Debtor</h2>
    <form id="register-debtor">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Name1">Name 1</label>
                <input type="text" class="form-control" id="Name1" name="Name1" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Name2">Surname</label>
                <input type="text" class="form-control" id="Name2" name="Name2" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Adress1">Adress 1</label>
                <input type="text" class="form-control" id="Adress1" name="Adress1" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Adress2">Address 2</label>
                <input type="text" class="form-control" id="Adress2" name="Adress2" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" name="Email" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="DateOfBirth">Date of birth</label>
                <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Contact">Contact</label>
                <input type="text" class="form-control" id="Contact" name="Contact" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="AccountNumber">Account Number</label>
                <input type="text" class="form-control" id="AccountNumber" name="AccountNumber" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="CountryCode">Country Code</label>
                <input type="text" class="form-control" id="CountryCode" name="CountryCode" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="PostNr">Post Code</label>
                <input type="text" class="form-control" id="PostNr" name="PostNr" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Language">Language</label>
                <input type="text" class="form-control" id="Language" name="Language" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="Location">Location</label>
                <input type="text" class="form-control" id="Location" name="Location" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="KreditorNumber">Kreditor number</label>
                <input type="text" class="form-control" id="KreditorNumber" name="KreditorNumber" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="OpeningBalance">Opening balance</label>
                <input type="text" class="form-control" id="OpeningBalance" name="OpeningBalance" required>
            </div>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
    </form>
</section>